<a class="hero-banner" href="{{ project.url | relative_url }}" style="background-image: {{ project.image_path | relative_url }}">
  <img class="mobile-screen" src="{{ project.image_path | relative_url }}" alt="art for the mind of gods">
  <img class="lg-screen" src="{{ project.lg_image_path | relative_url }}" alt="art for the mind of gods">
</a>
