<header>
  <div class="title-banner">
    <a href="/jonathan-fox/" class="logo">
      <h1 class="logo-text">{{ site.title | escape }}</h1>
      <img src="{{ "assets/images/foxlogo.png" | relative_url }}" alt="fox-logo" class="logo-img">
    </a>
  </div>

  <nav class="navbar container">
    {%- assign default_paths = site.pages | sort: "nav_order" | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <ul class="nav-links">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}

        {%- if my_page.title -%}
          <li class="nav-link">
            <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <button class="button call-to-action">
      Join the Newsletter
    </button>
  </nav>
</header>
