<div class="progress-bar">
  <a href="{{ include.link }}"><h2 class="progress-bar--title">{{ include.title }}</h2></a>

  <div class="progress-wrapper">
    <div class="progress-bar--bar">
      <div class="progress-bar--progress" style="width: {{ include.progress }}%"></div>
    </div>
    <span>{{ include.progress }}%</span>
  </div>
</div>
