.about-me {
  margin-bottom: 1rem;

  img {
    width: 100%;
  }
  p {
    margin-top: .5rem;
  }
  .content {
    flex-basis: 60%;
    padding: 2rem 1rem;
  }
  .profile-pic {
    flex-basis: 40%;
    padding: 2rem 0;
  }
  .signature {
    flex-basis: 50%;
  }
}
