$brand-dark: #040c16;
$brand-primary: #cc2e37;
$white: #ddd;
$off-white: #f8f8f9;
$yellow: #e7b07e;

@import "fonts";
@import "header";
@import "post-card";
@import "footer";

body {
  background-color: $white;
  position: relative;
}

main {
  min-height: 100vh;
}

.about-me {
  img {
    width: 100%;
  }
  p {
    margin-bottom: 1rem;
  }
  .profile-pic {
    flex: 1;
    margin-bottom: 4rem;
  }
  .about-me--title {
    flex: 0 0 100%;
    margin: 1rem 0;
  }
  .content {
    flex: 1;
  }
}

.button {
  background-color: $brand-primary;
  border: none;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
}

.full-container {
  background-color: $off-white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20vw;
}

.container {
  display: flex;
  height: inherit;
  margin: 0 20vw;
}

.hero-banner {
  align-items: center;
  background-color: $off-white;
  border: $brand-dark 1px solid;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 1rem 0px 0px;

  &.post-list--index {
    width: 66%;
  }
  .title {
    flex: 0 0 100%;
  }
}

.bulletin {
  align-items: center;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 40%;
}
