// COLORS
$brand-dark: #040c16;
$brand-primary: #cc2e37;
$white: #ddd;
$off-white: #f8f8f9;
$yellow: #e7b07e;

// UTILITIES
@import "fonts";
// INCLUDES
@import "header";
@import "footer";
@import "post-list";
@import "cards";
// PAGES
@import "about";
@import "projects";
@import "published";
@import "blog";

body {
  background-color: $white;
  position: relative;
}

main {
  min-height: 100vh;
}

.button {
  background-color: $brand-primary;
  border: none;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
}

.full-container {
  background-color: $off-white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20vw;
}

.container {
  display: flex;
  height: inherit;
  width: 60vw;
  margin: 0 auto;
}

.hero-banner {
  align-items: center;
  background-color: $off-white;
  border: $brand-dark 1px solid;
  display: flex;
  justify-content: center;
  min-height: 35vh;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

.content {
  margin-top: 1rem;
  width: 70%;
}

.bulletin {
  align-items: center;
  background-color: $yellow;
  border-radius: 5px;
  box-shadow: -5px 5px $brand-dark;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 50%;
  width: 30%;
}

.side-filters {
  align-items: center;
  background-color: $off-white;
  border-radius: 5px;
  box-shadow: 5px 5px $brand-dark;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  width: 30%;
}

.hidden {
  display: none;
}
