// COLORS
$brand-dark: #040c16;
$brand-primary: #cc2e37;
$brand-primary-dark: #9e0509;
$white: #e8e3e0;
$off-white: #f8f8f9;
$yellow: #e7b07e;

// UTILITIES
@import "fonts";
// INCLUDES
@import "header";
@import "footer";
@import "post-list";
@import "cards";
// PAGES
@import "about";
@import "projects";
@import "published";
@import "blog";

body {
  background-color: $white;
  position: relative;
}

main {
  min-height: 100vh;
}

.button {
  background-color: $brand-primary;
  border: none;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
}


.flex-wrapper {
  display: flex;
}

.full-container {
  background-color: $off-white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20vw;
}

.container {
  display: flex;
  height: inherit;
  width: 75vw;
  margin: 0 auto;
}

.hero-banner {
  align-items: center;
  background-color: $off-white;
  border: $brand-dark 1px solid;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  min-height: 50vh;
  width: 100%;
}

.social-media {
  align-items: center;
  border: $brand-dark 1px solid;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 1rem;
}
.inline-social {
  border: $brand-dark 1px solid;
  padding: 1rem 3rem;
}

.title {
  margin-bottom: 1rem;
}
.title-wrapper {
  display: flex;

  .title {
    flex-grow: 1;
  }
}

.content {
  width: 70%;
}

.bulletin {
  border-radius: 5px;
  box-shadow: 2px 2px $brand-primary-dark;
  margin: 0 0 2rem 2rem;
  width: 30%;

  li {
    padding: 0 1rem;
  }

  .bulletin-title {
    margin: 1rem 0;
  }
  .bulletin-items {
    background-color: $yellow;
    border-radius: 5px;
    height: 100%;
    overflow: scroll;
    padding-top: 1rem;

    a {
      color: $brand-primary;
    }
  }
  .bulletin-item {
    align-items: baseline;
    border-top: 1px $brand-dark dashed;
    display: flex;
    padding: .60rem 1rem;
  }
}

.side-filters {
  align-items: center;
  background-color: $off-white;
  border-radius: 5px;
  box-shadow: 5px 5px $brand-dark;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  width: 30%;
}

.hidden {
  display: none;
}

.progress-bar {
  flex-basis: 100%;

  .progress-bar--title {
    color: $brand-dark;
    flex-basis: 100%;
  }
  .progress-wrapper {
    align-items: center;
    display: flex;
    font-size: .75rem;
    margin: .25rem 1rem 0 1.25rem;

    .progress-bar--progress {
      background-color: $brand-dark;
      height: 100%;
    }
    .progress-bar--bar {
      background-color: $off-white;
      height: .5rem;
      margin-right: 1rem;
      width: 100%;
    }
  }
}
.nav-links--project {
  border-left: 1px $brand-dark solid;
}

.post {
  background-color: $off-white + f0;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .post-header {
    border-bottom: 1px $brand-dark solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .post-content {
    margin: 0 2rem;
    padding-bottom: 1rem;

    p {
      padding-bottom: 1rem;
    }
  }
  .post-footer {
    border-top: 1px $brand-dark solid;
    padding-top: 1rem;
  }
}
.post-meta {
  align-items: baseline;
  display: flex;
  font-style: italic;
  margin-bottom: 1rem;

  time {
    font-size: .75rem;
    margin-left: 1rem;
  }
}
.badge-wrapper {
  display: flex;
  align-items: center;
}
.badge-list {
  display: flex;

  .badge {
    background-color: $white;
    border-radius: 15px;
    display: inline-block;
    font-size: .70rem;
    margin: .25rem;
    padding: .4rem .6rem;
  }
}
