@font-face {
  font-family: Teko;
  src: url(../fonts/Teko/Teko-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: .5rem;
}
