.footer {
  background-color: $brand-dark;
  color: $white;
  font-size: .9rem;
  padding: 2em;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .contact {
  }

  .footer-description {
    flex-basis: 50%;
  }
}
