.hero-banner {
  align-items: center;
  background-color: $off-white;
  border: $brand-dark 1px solid;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  img {
    height: 100%;
  }
}

@media (min-width: 800px) {

}
