// COLORS
$brand-dark: #040c16;
$brand-primary: #cc2e37;
$brand-primary-dark: #9e0509;
$white: #e8e3e0;
$off-white: #f8f8f9;
$yellow: #e7b07e;

@import "base";

// UTILITIES
@import "fonts";

// INCLUDES
@import "header";
@import "hero-banner";

img.mobile-screen {
  display: flex;
}

@media (min-width: 800px) {
  img.lg-screen {
    display: flex;
  }
  img.mobile-screen {
    display: none;
  }
}
