// COLORS
$brand-dark: #040c16;
$brand-primary: #cc2e37;
$brand-primary-dark: #9e0509;
$white: #e8e3e0;
$off-white: #f8f8f9;
$yellow: #e7b07e;
// GLOBAL
$title-banner-font: 3rem;
$header-height: 1.25 * $title-banner-font;

@import "base";

// UTILITIES
@import "fonts";

// INCLUDES
@import "header";
@import "hero-banner";

img.mobile-screen {
  display: flex;
}

.bulletin {
  display: none;
}

@media (min-width: 800px) {
  img.lg-screen {
    display: flex;
  }
  img.mobile-screen {
    display: none;
  }

  .bulletin {
    border-radius: 5px;
    box-shadow: 2px 2px $brand-primary-dark;
    display: block;
    margin: 0 0 2rem 2rem;
    width: 100%;

    li {
      padding: 0 1rem;
    }

    .bulletin-title {
      margin: 1rem 0;
    }
    .bulletin-items {
      background-color: $yellow;
      border-radius: 5px;
      height: 100%;
      overflow: scroll;
      padding-top: 1rem;

      a {
        color: $brand-primary;
      }
    }
    .bulletin-item {
      align-items: baseline;
      border-top: 1px $brand-dark dashed;
      display: flex;
      padding: .60rem 1rem;
    }
  }
}
