---
layout: post.html
title:  Hi I'm Jonathan
categories:
tags: me jonathan fox
image_path: assets/images/profile_pic.jpg
image_description: typewriter
type: essay
---
<!-----

Yay, no errors, warnings, or alerts!

Conversion time: 0.277 seconds.


Using this HTML file:

1. Paste this output into your source file.
2. See the notes and action items below regarding this conversion run.
3. Check the rendered output (headings, lists, code blocks, tables) for proper
   formatting and use a linkchecker before you publish this page.

Conversion notes:

* Docs to Markdown version 1.0β33
* Thu Oct 13 2022 10:03:22 GMT-0700 (PDT)
* Source doc: Hi I’m Jonathan
----->

<p>
  Hi I’m Jonathan. Welcome to my website/blog/online studio. I like to create things. All sorts of things. But creating worlds happen to be high on that list, so I’m a writer. At the moment, I am drawing up ideas for a series I hope to announce soon. The working title is <em>the Mind of Gods</em>. To be honest I am not in love with that, but I do see what I was going for. I just haven’t thought of anything better yet so I’m letting that one crystalize until I bust it wide open.
</p>
<!--more-->
<p>
  I’ve been thinking about my influences and holding the titles side by side with mine among them. How does <em>the Mind of Gods</em> hold up to <em>the Wheel of Time, the Stormlight Archive, the Lord of the Rings</em> for crying out loud. Does it hold up?
</p>
<p>
  No it does not, sadly. So I know I will change it but I don’t know what it will be yet. I want it to be a bold title and I think that having both the words “mind” and “god” on the cover make for an interesting juxtaposition and hint at the sort of conflict one might find inside.
</p>
<p>
  Anyway. That’s all I’m going to say about the project at this time. It’s super secret until I announce it officially later. When is later, you ask? Well it’s hard to say since “later” includes all future time.
</p>
<p>
  But there are other things I like to create, like this website. And also food. So maybe I’ll put pictures of food here sometimes. I don’t know. I’m making this up as I go along. The problem is, I don’t like to feel like I’m just making shit up as I go, but I think sometimes that’s exactly what’s called for.
</p>
<p>
  I am a software developer by profession, and at work, I’ve had project managers. A small part of their job is to present me with problems to solve. Then I solve those problems. I am very good at operating within this structure.
</p>
<p>
  So the developer in me wants structure but I am a writer. And yet… I built a website. I built a website because I need to write.
</p>
<p>
  I looked at wanting to become a writer as a problem to solve. I have been wanting to build the website for so long but since my primary goal is to become a writer and because you don’t actually need a website to write, I felt any spare time should be spent on the primary activity. Namely, writing a novel. I viewed any energy spent on auxiliary tasks as wasted energy, and I always want to optimize.
</p>
<p>
  Well after a year of toiling, yes toiling, and having nothing conrete to show for it, I decided to try this approach. Blogging about the process. I don’t think generally this is a novel idea, but it is for me.
</p>
<p>
  Here I am writing my first post before the website is even finished. Okay technically it is already live as evidenced by the fact that you are reading this, but you may have noticed it’s full of gibberish and placeholders right now.
</p>
<p>
  But don’t hate on my gibberish placeholdes. They have served me well. I was able to spend a great deal of time imagining all the things, the creations, that might fill those places that hold space. So I think I may keep the gibberish placeholders as they have now rightfully earned their place.
</p>
<p>
  But yes, just in building the website I felt my identity as a writer solidify around me. It felt good. I’ve been struggling to find my voice, which makes sense to me. I wondered if a rational remedy might be to simply write as my literal self. That’s why I built a website and wrote my first blog post before I’ve even written a single word that will make it into the book. I can’t wait to see where this goes.
</p>
